[*.{c,cpp,cxx,h,hpp,hxx}]
cpp_indent_braces = false
cpp_indent_multi_line_relative_to = innermost_parenthesis
cpp_indent_within_parentheses = align_to_parenthesis
cpp_indent_case_contents_when_block = true
cpp_indent_case_contents = false
cpp_indent_case_labels = true
cpp_wrap_preserve_blocks = one_liners 
cpp_new_line_before_open_brace_block = new_line
cpp_new_line_close_brace_same_line_empty_function = false 
cpp_new_line_scope_braces_on_separate_lines = new_line
cpp_new_line_before_open_brace_block = true
cpp_space_pointer_reference_alignment = right
cpp_indent_namespace_contents = false